/*---------------------Фон------------------------*/
.name {
	position: absolute;
	left: 8%;
	top: 2%;
	font-family: Calluna;
	font-size: 250%;
	color: black;}

.img {
	position: absolute;
	top: 1%;
	left: 1%;}

.d1 {
	margin-left: -20px; 
	margin-width: -20px;
	width: 100.90%; 
	height: 80px;
	background: #464646;
	position: absolute;
	top: -20px;}

.d2 {
	margin-left: -20px; 
	margin-width: -20px;
	width: 100.90%; 
	height: 5px;
	background: #171717;
	position: absolute;
	top: 60px;}
/*------------------------------------------------*/




/*------------------Панель------------------------*/
.blog{
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 35%;
	top: 5%;
	color: black;}

.news{
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 43%;
	top: 5%;
	color: black;}

.school {
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 54%;
	top: 5%;
	color: black;}

.andr {
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	right: 5%;
	top: 5%;
	color: black;}
/*-------------------------------------------------*/




/*--------------------Панель-----------------------*/
.blog{
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 35%;
	top: 5%;
	color: black;}

.news{
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 43%;
	top: 5%;
	color: black;}

.school {
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	left: 54%;
	top: 5%;
	color: black;}

.andr {
	text-decoration: none;
	font-family: Calluna;
	font-size: 150%;
	position: absolute;
	right: 5%;
	top: 5%;
	color: black;}
/*-------------------------------------------------*/





/*-----------------Главный экран-------------------*/
.main-text{
	font-family: Calluna;
	font-size: 200%;
	position: absolute;
	left: 5%;
	top: 20%;
	max-width: 440px;}

.hack {
	position: absolute;
	right: 5%;
	top: 25%;}
/*--------------------------------------------------*/